@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles */
body {
    @apply bg-gradient-to-b from-b3 to-b1 min-h-screen;
}

/* Responsive padding and margin */
@media (min-width: 640px) { /* Adjust numbers based on your design preferences */
    .page {
        @apply px-10; /* Horizontal padding for small screens */
    }
}

@media (min-width: 1024px) {
    .page {
        @apply px-40; /* Increased horizontal padding for larger screens */
    }
}

@media (min-width: 1280px) {
    .page {
        @apply px-60; /* Even more padding for extra large screens */
    }
}

/* Main container styles */
main {
   @apply flex flex-col items-center text-white gap-4;
}

#advTable::-webkit-scrollbar, #titlesChart::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #888;
    border-radius: 0 0 5px 0;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 0 0 5px 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #000;
}

/* on hover and selected indent */
.hs-in {
    @apply border-black hover:border-2 hover:shadow-inner bg-b4 aria-expanded:border-2 aria-expanded:shadow-inner aria-expanded:shadow-b1 hover:shadow-b1;
    transition: all 0.1s ease-out;
}

/* Corner frame for cards */
.corner-frame {
    @apply relative overflow-clip;
}

.tl-corner, .tr-corner, .bl-corner, .br-corner {
    @apply bg-gradient-to-b from-b1 from-50% to-b1-light;
}

.tl-corner, .tr-corner {
    @apply w-16 h-8 shadow-md shadow-zinc-800;
}
.bl-corner, .br-corner {
    @apply w-14 h-6 shadow-sm shadow-black;
}

.tl-corner {
    @apply absolute top-0 left-0 -translate-y-2 -translate-x-6 -rotate-45;
}
.tr-corner {
    @apply absolute top-0 right-0 -translate-y-2 translate-x-6 rotate-45;
}
.bl-corner {
    @apply absolute bottom-0 left-0 rotate-210 translate-y-3 -translate-x-3;
}
.br-corner {
    @apply absolute bottom-0 right-0 -rotate-210 translate-y-3 translate-x-3;
}
