@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles */
body  {
    @apply bg-gradient-to-b from-b3 to-b1 min-h-screen;
}

* {
    @apply text-black;
}

/* Responsive padding and margin */
@media (min-width: 640px) { /* Adjust numbers based on your design preferences */
    .page {
        @apply px-10; /* Horizontal padding for small screens */
    }
}

@media (min-width: 1024px) {
    .page {
        @apply px-40; /* Increased horizontal padding for larger screens */
    }
}

@media (min-width: 1280px) {
    .page {
        @apply px-60; /* Even more padding for extra large screens */
    }
}

/* shimmer effect */
.shimmer1::before, .shimmer2::before, .shimmer3::before {
    content: "";
    @apply  flex box-border absolute w-[200%] h-full 
    bg-gradient-to-r from-transparent via-white/50 to-transparent;
}

.shimmer1::before{
    @apply animate-shimmer1;
}

.shimmer2::before {
    @apply animate-shimmer2;
}

.shimmer3::before {
    @apply animate-shimmer3;
}

/* Main container styles */
main {
   @apply flex flex-col items-center text-white gap-4 py-2;
}

/* Scrollbar styles */

/* Main scroll */
::-webkit-scrollbar {
    @apply w-4 h-4;
}

::-webkit-scrollbar-track {
    @apply bg-gradient-to-b from-b3 to-b1;
}

::-webkit-scrollbar-thumb {
    @apply bg-zinc-200/50 rounded-md w-1;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-200;
}

/* Stats scroll */
.stats-scroll {
    @apply flex overscroll-contain flex-col min-h-44 max-h-44;
    overflow-y: auto;
}

.stats-scroll::-webkit-scrollbar-track {
    background: transparent;
}

/* on hover and selected indent */
.hs-in {
    @apply border box-border border-black hover:shadow-inner bg-b4 
    aria-expanded:border-2 aria-expanded:shadow-inner 
    aria-expanded:shadow-b1 hover:shadow-b1
    disabled:hover:cursor-default disabled:hover:border disabled:hover:shadow-none
    transition-all duration-100 ease-out;
}

/* Corner frame for cards */
.corner-frame {
    @apply relative overflow-clip;
}

.tl-corner, .tr-corner, .bl-corner, .br-corner {
    @apply bg-gradient-to-b from-b1 from-50% to-b1-light;
}

.tl-corner, .tr-corner {
    @apply w-16 h-8 shadow-md shadow-zinc-800;
}
.bl-corner, .br-corner {
    @apply w-14 h-6 shadow-sm shadow-black;
}

.tl-corner {
    @apply absolute top-0 left-0 -translate-y-2 -translate-x-6 -rotate-45;
}
.tr-corner {
    @apply absolute top-0 right-0 -translate-y-2 translate-x-6 rotate-45;
}
.bl-corner {
    @apply absolute bottom-0 left-0 rotate-210 translate-y-3 -translate-x-3;
}
.br-corner {
    @apply absolute bottom-0 right-0 -rotate-210 translate-y-3 translate-x-3;
}
